.button1{
    background-color:rgb(9, 255, 0);
    position:absolute;
    top:50px;
    left:90px;
    font-size:20px;
    font-family: 'Press Start 2P' ;
    border:none;
}
.button2{
    background-color:#09ff00;
    position:absolute;
    top:50px;
    left:250px;
    font-size:20px;
    font-family: 'Press Start 2P' ;
    border:none;
}
.button3{
    background-color:rgb(9, 255, 0);
    position:absolute;
    top:50px;
    left:410px;
    font-size:20px;
    font-family: 'Press Start 2P' ;
    border:none;
}
.score{
    background-color:rgb(9, 255, 0);
    position:absolute;
    top:0px;
    left:580px;
    font-size:40px;
    font-family: 'Press Start 2P' ;
    border:2px solid #09ff00;
}
.index {
    position:absolute;
    right:202px;
    top:90px;
    width:120px;
    height:120px;
    border-top:2px solid rgb(9, 255, 0);
    border-right:2px solid rgb(9, 255, 0);
    border-left:2px solid rgb(9, 255, 0);
}

.indextxt{
    position:absolute;
    right:190px;
    top:175px;
    width:130px;
    height:130px;
    font-size:19.5px;
    color:rgb(9, 255, 0);
    font-family: 'Press Start 2P' ;
}

.indexb {
    position:absolute;
    right:80px;
    top:250px;
    width:120px;
    height:120px;
    border-bottom:2px solid rgb(9, 255, 0);
    border-right:2px solid rgb(9, 255, 0);
    border-left:2px solid rgb(9, 255, 0);
}

.indextxtb {
    position:absolute;
    right:150px;
    top:200px;
    width:130px;
    height:130px;
    font-size:25px;
    color:rgb(9, 255, 0);
    font-family: 'Press Start 2P' ;
}

.indexc {
    position:absolute;
    right:80px;
    top:362px;
    width:120px;
    height:120px;
    border-bottom:2px solid rgb(9, 255, 0);
    border-right:2px solid rgb(9, 255, 0);
    border-left:2px solid rgb(9, 255, 0);
}

.indexd {
    position:absolute;
    right:202px;
    top:358px;
    width:120px;
    height:120px;
    border-bottom:2px solid rgb(9, 255, 0);
    border-right:2px solid rgb(9, 255, 0);
    border-left:2px solid rgb(9, 255, 0);
}

.indexe {
    position:absolute;
    right:80px;
    top:470px;
    width:120px;
    height:120px;
    border-right:2px solid rgb(9, 255, 0);
    border-left:2px solid rgb(9, 255, 0);
}

.indextxte {
    position:absolute;
    right:68px;
    top:560px;
    width:130px;
    height:130px;
    font-size:19.5px;
    color:rgb(9, 255, 0);
    font-family: 'Press Start 2P' ;
}

.indexf {
    position:absolute;
    right:202px;
    top:250px;
    width:120px;
    height:120px;
    border-bottom:2px solid rgb(9, 255, 0);
    border-right:2px solid rgb(9, 255, 0);
    border-left:2px solid rgb(9, 255, 0);
}

.indexh {
    position:absolute;
    right:202px;
    top:480px;
    width:120px;
    height:120px;
    border-bottom:2px solid rgb(9, 255, 0);
    border-right:2px solid rgb(9, 255, 0);
    border-left:2px solid rgb(9, 255, 0);
}

.indexi {
    position:absolute;
    right:80px;
    top:90px;
    width:120px;
    height:120px;
    border-top:2px solid rgb(9, 255, 0);
    border-right:2px solid rgb(9, 255, 0);
    border-left:2px solid rgb(9, 255, 0);
}

.indextxti {
    position:absolute;
    right:69px;
    top:175px;
    width:130px;
    height:130px;
    font-size:19.5px;
    color:rgb(9, 255, 0);
    font-family: 'Press Start 2P' ;
}

.l1 {
    position:fixed;
    top:30px;
    right:215px;
    color:rgb(9, 255, 0);
    width:100px;
    font-size:50px;
    font-family: 'Press Start 2P' ;
    padding:10px;
}
.l2 {
    position:fixed;
    top:30px;
    right:65px;
    color:rgb(9, 255, 0);
    width:100px;
    font-size:50px;
    font-family: 'Press Start 2P' ;
    padding:10px;
}

.semi{
    position:fixed;
    top:30px;
    right:113px;
    color:rgb(9, 255, 0);
    width:100px;
    font-size:50px;
    font-family: 'Press Start 2P' ;
    padding:10px;
}

body{
    overflow: hidden;
    width:100vw;
    height:100vh;
    background-image:url(../IMGS/backround.png);
    background-size:100% 100%;
    
}

#GameBoardCanvas {
    border: 1px solid red;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;

}

#gdv{
    height: 90vh;
    width: 1140px;
    overflow-x: hidden;
    overflow-y: auto;
    margin-left: 10px;
    margin-right: auto;
    margin-top: 100px;
}